* {
    box-sizing: border-box;
 }
 body {
    background: #f69a73;
 }
 .papa{
     display: flex;
 }
 .decor {
    position: relative;
    max-width: 500px;
    margin: 50px auto 0;
    background: white;
    border-radius: 30px;
    width: 500px;
    margin-left: 60%;
   
 }
 .form_left_decoration, .form_right_decoration {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    background: #f69a73;
    border-radius: 20px;
 }
 .form_left_decoration {
    bottom: 60px;
    left: -30px;
 }
 .form_right_decoration {
    top: 60px;
    right: -30px;
 }
 .form_left_decoration:before, .form_left_decoration:after, .form_right_decoration:before, .form_right_decoration:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    border-radius: 30px;
    background: white;
 }
 .form_left_decoration:before {
    top: -20px;
 }
 .form_left_decoration:after {
    top: 20px;
    left: 10px;
 }
 .form_right_decoration:before {
    top: -20px;
    right: 0;
 }
 .form_right_decoration:after {
    top: 20px;
    right: 10px;
 }
 .circle {
    position: absolute;
    bottom: 80px;
    left: -55px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
 }
 .form_inner {
    padding: 50px;
 }
 .form_inner input, .form_inner textarea {
    display: block;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 10px;
    background: #E9EFF6;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
 }
 .form_inner input[type="submit"] {
    margin-top: 30px;
    background: #f69a73;
    border-bottom: 4px solid #d87d56;
    color: white;
    font-size: 14px;
 }
 .form_inner textarea {
    resize: none;
 }
 .form_inner h3 {
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #707981;
 }
 .symbol{
  
    height: 40px;
 }
 .symbolWrap{
   margin-left: 40%;
 }
 


.as{
   margin-left: 10%;
}
 table {
   
   font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
   text-align: left;
   border-collapse: separate;
   border-spacing: 5px;
   background: #ECE9E0;
   color: #656665;
   border: 16px solid #ECE9E0;
   border-radius: 20px;
   }
   th {
   font-size: 18px;
   padding: 10px;
   }
   td {
   background: #F5D7BF;
   padding: 10px;
   }